@charset "UTF-8";

h1,
h2,
h3,
h4,
p {
  font-family: "Roboto", sans-serif;
  color: black;
}

h3 {
  font-size: 3.5rem;
}

p {
  font-size: 1.5rem;
  font-weight: 200;
  max-width: 26em;
}

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  vertical-align: middle;
  padding: 5vh 10vw;
}
